// Place all the styles related to the Forums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.centerImage{
	margin: 0 auto;
}

.spacer15{
	margin-top: 15px;
}

.spacer50{
	margin-top: 50px;
}

.text10{
	font-size: 10px;
}

.textRight{
	text-align: right;
}

.fullHeight{
	min-height: 800px;
}

.borderBottom{
	border-bottom: 1px solid black;
}
.centerText{
	text-align: center;
}

.underlineText{
	text-decoration: underline;
}

.indent25{
	padding-left: 25px;
	padding-bottom: 20px;
}

.mainAuthor{
	text-align: right;
}

.titleBox{
	border: 10px gray solid;
	border-style: outset;
	padding: 10px;
	margin-bottom: 25px;

}

.centerItem{
	margin: 0 auto;
}

.seeThrough{
	background: none;
	border: none;
}

.directionals{
	padding-top: 150px;;	
}

.messageBox{
	background-color: lightgray;
	border: 10px silver solid;
	border-style: ridge;
	padding-right: 10px;
	padding-top: 10px;
	margin-bottom: 5px;
}

#bookTitle{
	font-family: Fantasy;
}
