// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/\

#inputDescription{
	height: 50px;
}

.boxedIn{
	border: 1px solid black;
}

.underBorder{
	border-bottom: 1px solid black;
}

.tradeStatus{
	text-align: right;
}

.tradeReqs{
	text-align: left;
}

.borderRight{
	border-right: 1px solid black;
}